.info-section{
  padding:80px 20px;
  display:flex;
  justify-content:center;
}

.info-card{
  width:95%;
  max-width:1100px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  border-radius:30px;
  padding:40px;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.info-content{
  display:flex;
  gap:40px;
  align-items:center;
  flex-wrap:wrap;
}

/* IMAGE */
.info-image{
  flex:1 1 400px;
  overflow:hidden;
  border-radius:25px;
}

.info-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.5s ease;
}

.info-image img:hover{
  transform:scale(1.08);
}

/* TEXT */
.info-text{
  flex:1 1 400px;
  color:white;
}

.info-text h2{
  font-size:32px;
  margin-bottom:20px;
}

.info-text p{
  font-size:18px;
  line-height:1.7;
}

/* MOBILE */
@media(max-width:768px){
  .info-content{
    flex-direction:column;
  }
}
